<div class="container">
  <NavBar />
  <div class="body">
    {{outlet}}
  </div>
  <footer>Contents of this website are deployed from this <a href="https://github.com/akshay1502/Ember-Learning">repo</a></footer>
</div>